p {
  padding: 20px;
  margin: 20px;
  border-radius: 4px;
  font-size: 18px;
  line-height: 1.5;
  background-color: azure;
  display: flex;
}

.text-layout {
  display: flex;
}
.main-header {
  margin-top: 50px;
  font-size: 48px;
}
.sub-header {
  font-size: 25px;
}
.contact {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
